*{color:#eee;}
.header { background-color: #27AE60;
height: 80px;
width: 100%;
top: 0;
left: 0;
}
.nav { display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.letracolor{ color: #145A32 ;
    text-decoration: none;
}
.logo{ font-size: 30px;
font-weight: bold;
padding: 0 40;
line-height: 80px;
text-transform: uppercase;
}
.items { display: flex;
    margin-right: 40px;
    list-style: none;
} 
.item { font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
}
.item1:link{ background-color:#2ECC71;
}
.item:visited { background-color: #ABEBC6;
}
.item1:hover { background-color: #82E0AA;
    transition: 0.5s;
}

.item1 { padding: 8px 12px;
}
.body { background-color:#2ECC71 ;}
.parrafoinicial {
    font-family:Lato;
    font-size:1.3rem;
     
    font-weight: lighter;
    font-size: medium 60px 30px 60px 30px;
      }
.imagen { height: 25%; width: 50%;

} 
.footer { display: flex;
    justify-content: center;

}     
.footer1 { display: inline-block;}
.pfooter { font-size: medium;
    background-color:#2ECC71;
    font-family:Lato;
    font-size:1.3rem;
    

}
.redes{ font-size: medium;
    font-family:Lato;
    font-size:1.3rem;
    
}
.final { margin: 25px;}
.letracolor { color: #fff;

}
.iconosredes{
    padding-left: 20px ;

}
.iconosredes .fab{ margin: 5px;}
@media screen and (max-width:640px){
    .footer{
        display:block 
    }   
    .header{ height: auto;} 
    
}
